@{
    ViewBag.Title = "Home|Vy Hoang|MVC Car";
}

<div class="jumbotron">
    <h1>Car Database Application</h1>
    <p class="lead">This application allows user to manage car database</p>
    <h5> Vy Hoang - Student ID: 200408803</h5>
    <p><a href="~/VehicleTypes/Create" class="btn btn-primary btn-lg">Start Creating Car Type &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Add|Edit|Delete function</h2>
        <p>
            Click:   Create New - to add new data
        <br />
            Click:   Edit - to edit current data
        <br />
            Click:   Delete - to delete current data
        <br />
            Click:   Details - to view the current data      
        </p>

        <p><a class="btn btn-default" href="~/VehicleTypes/Create">Create Car Type &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Automatic time record</h2>
        <p>The application will automatically record the time user create and edit the edit the data for future tracking</p>
    </div>
    <div class="col-md-4">
        <h2>Type|Model|Make|Vechicle</h2>
        <p>
            User can easily create and manage data on: <br />
            Type:       Car Type <br />
        <p><a class="btn btn-default" href="~/VehicleTypes/">View All Car Type &raquo;</a></p>
        Make:       Manufacturing name of the car <br />
        <p><a class="btn btn-default" href="~/Makes/">View All Car Makes &raquo;</a></p>
        Model:      Engine Size, Number of Doors, Colour of the Car Type <br />
        <p><a class="btn btn-default" href="~/CarModels/">View All Car Models &raquo;</a></p>
        Vechicle:   Year, Price, Cost, Sold Date of the car
        <p><a class="btn btn-default" href="~/Vehicles/">View the list of all cars &raquo;</a></p>
        </p>
        
    </div>
</div>